{% extends "base.html" %}
{% block content1 %}

	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="{% url 'homepage' %}">Home</a></li>
					<li class="breadcrumb-item">CPU Technology</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		
			<div class="col">
				<h5>CPU Classes</h5>
				{% if cpuclass %}
					<table class="table table-bordered table-striped table-hover" id="datatable1">
						<thead>
							<tr>
								<th>CPU Class</th>
							</tr>
						</thead>
						<tbody>
						{% for c in cpuclass %}
							<tr>
								<td><a href="{% url 'cpu_device' c.pk %}">{{c.name}}</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no CPU classes recorded in the database.</p>
				{% endif %}
				{% if request.user %}
				<a href="{% url 'admin:laptops_cpuclass_add' %}">Add new CPU class</a>
				{% else %}
				<a href="">You must login to add new CPU classes</a>
				{% endif %}
			</div>
			
			<div class="col">
				<h5>CPU Chipsets</h5>
				{% if chipset %}
					<table class="table table-bordered table-striped table-hover" id="datatable2">
						<thead>
							<tr>
								<th>Chipset Name</th>
							</tr>
						</thead>
						<tbody>
						{% for c in chipset %}
							<tr>
								<td><a href="{% url 'chipset_device' c.pk %}">{{c.name}}</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no chipsets recorded in the database.</p>
				{% endif %}
				{% if request.user %}
				<a href="{% url 'admin:laptops_cpuclass_add' %}">Add new chipset</a>
				{% else %}
				<a href="">You must login to add new chipsets</a>
				{% endif %}
			</div>
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/datatables.min.js' %}"></script>
	{% if cpuclass|length > 20 %}
	<script>
		new DataTable('#datatable1');
	</script>
	{% endif %}
	{% if chipset|length > 20 %}
	<script>
		new DataTable('#datatable2');
	</script>
	{% endif %}
	
{% endblock %}