<table class="table table-bordered table-striped table-hover" id="datatable_laptops">
	<thead>
		<tr>
			<th>Manufacturer</th>
			<th>Model</th>
			<th>Sub-Model</th>
		</tr>
	</thead>
	<tbody>
		{% for l in laptops %}
			<tr>
				<td>{{l.laptop.manufacturer.manufacturer}}</td>
				<td>{{l.laptop.model}}</td>
				<td><a href="{% url 'laptop_device' l.laptop.pk %}">{{l.laptop.submodel}}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% if devices|length > 15 %}
<script>
	new DataTable('#datatable_laptops');
</script>
{% endif %}