{% extends "base.html" %}
{% block content1 %}

	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="{% url 'homepage' %}">Home</a></li>
					<li class="breadcrumb-item">Audio &amp; Sound</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<h5>DOS Audio Support</h5>
				<p>Unlike modern operating systems, support for audio in DOS is largely based on the popularity of a small
				number of products from a few hardware manufacturers; a standard API or driver layer was not available at the time - this
				came much later with the introduction of Windows.</p>
				<p>Ad Lib was one of the first companies to get a product in the market which was supported by a wide range
				of software and games - the Adlib Music Synthesizer with the Yamaha OPL2 FM synthesizer. All subsequent companies had to support the hardware 
				interface implemented by the Adlib card in order to have any chance of being successful.</p>
				<p>Later, Creative Labs introduced a range of sound hardware that integrated both the Yamaha OPL2 (and later OPL3) FM
				synth as well as adding hardware to support sampled digital audio, and this became the <i>killer feature</i> for all
				devices which followed.</p>
				<p>If you want to play DOS games on real hardware with the widest range of compatability, you need a device which supports:
				<ul>
					<li>OPL2 or OPL3 FM synthesis</li>
					<li>Soundblaster or Soundblaster Pro digital audio</li>
				</ul>
				Many hardware companies have produced devices which support these hardware standards, though not all to the same degree
				of accuracy. With a laptop you are almost always restricted to the audio hardware built-in to the system, so it is important
				to understand the features and limitations of the audio device - some are significantly more compatible, or better
				sounding than other models.
				</p>
			</div>
		</div>
		<hr>
		<br>
	</div>
	
	<div class="container">
		<div class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" data-bs-toggle="tab" href="#standards" aria-selected="true" role="tab">Audio Standards</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" data-bs-toggle="tab" href="#companies" aria-selected="false" tabindex="-1" role="tab">Companies <span class="badge rounded-pill bg-light">{{aman_count|length}}</span></a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link"  data-bs-toggle="tab" href="#devices" aria-selected="false" tabindex="-1" role="tab">Devices <span class="badge rounded-pill bg-light">{{devices|length}}</span></a>
				</li>
			</ul>
		</div>

	
		<div id="TabContent" class="tab-content">
		
			<div class="tab-pane fade show active" id="standards" role="tabpanel">
				<div class="row">
					<div>
						<br>
						<h5>Audio Standards</h5>
						<p>Each audio device in the DOS Laptop DB has a number of characteristics which we group into four main
						areas:
						<ul>
							<li>Soundblaster Support - Which models of Soundblaster does the device support?</li>
							<li>Other Digital Support - Does the device support Windows Sound System or DirectSound, for example?</li>
							<li>FM Synth Support - Does the device support OPL2 or OPL3? Is it a real Yamaha synth or an alternative?</li>
							<li>MIDI Support - Does the device have MIDI (non-FM) music support? Does it support General MIDI, GS, XG or some other format?</li>
						</ul>
						</p>
					</div>
				</div>			
				<div class="row">
					<div class="col-3">
						<table class="table table-bordered table-hover">
							<tr><th>Soundblaster Support</th></tr>
							{% for s in adigisb %}
							<tr><td><a title="View all devices which support {{s.name}}" href="{% url 'sb_digi_device' s.pk %}">{{s.name}}</a></td></tr>
							{% endfor %}
						</table>
						{% if request.user %}
						<a href="{% url 'admin:laptops_audiodigisb_add' %}">Add SB Category</a>
						{% else %}
						<a href="">You must login to add new SB Categories</a>
						{% endif %}
					</div>
					
					<div class="col-3">
						<table class="table table-bordered table-hover">
							<tr><th>Other Digital Support</th></tr>
							{% for s in adigiother %}
							<tr><td><a title="View all devices which support {{s.name}}" href="{% url 'other_digi_device' s.pk %}">{{s.name}}</a></td></tr>
							{% endfor %}
						</table>
						{% if request.user %}
						<a href="{% url 'admin:laptops_audiodigiother_add' %}">Add Other Digital Category</a>
						{% else %}
						<a href="">You must login to add new Other Digital Categories</a>
						{% endif %}
					</div>
					
					<div class="col-3">
						<table class="table table-bordered table-hover">
							<tr><th>FM Synth Support</th></tr>
							{% for s in afm %}
							<tr><td><a title="View all devices which support {{s.name}}" href="{% url 'fm_device' s.pk %}">{{s.name}}</a></td></tr>
							{% endfor %}
						</table>
						{% if request.user %}
						<a href="{% url 'admin:laptops_audiofm_add' %}">Add FM Synth Category</a>
						{% else %}
						<a href="">You must login to add new FM Synth Categories</a>
						{% endif %}
					</div>
					
					<div class="col-3">
						<table class="table table-bordered table-hover">
							<tr><th>MIDI Support</th></tr>
							{% for s in amidi %}
							<tr><td><a title="View all devices which support {{s.name}}" href="{% url 'midi_device' s.pk %}">{{s.name}}</a></td></tr>
							{% endfor %}
						</table>
						{% if request.user %}
						<a href="{% url 'admin:laptops_audiomidi_add' %}">Add MIDI Category</a>
						{% else %}
						<a href="">You must login to add new MIDI Categories</a>
						{% endif %}
					</div>
				</div>
			</div>
			
			
			<div class="tab-pane fade" id="companies" role="tabpanel">
				<div class="row">
					<div>
						<br>
						<h5>Audio Device Companies</h5>
					
						{% if aman_count %}
							<p>A list of all manufacturers of audio devices which are in the database.</p>
							<table class="table table-bordered table-striped table-hover" id="datatable1">
								<thead>
									<tr>
										<th>Manufacturer</th>
										<th>Audio Devices</th>
									</tr>
								</thead>
								<tbody>
								{% for a in aman_count %}
									<tr>
										<td><a href="{% url 'sound_company' a.manufacturer__id %}">{{a.manufacturer__manufacturer}}</a></td>
										<td>{{a.group_count}}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% else %}
							<p>There are no audio devices recorded in the database.</p>
						{% endif %}
						{% if request.user %}
						<a href="{% url 'admin:laptops_audiomanufacturer_add' %}">Add new Manufacturer</a>
						{% else %}
						<a href="">You must login to add new Manufacturers</a>
						{% endif %}
					</div>
				</div>
			</div>
		
			<div class="tab-pane fade" id="devices" role="tabpanel">
				<div class="row">
					<div>
						<br>
						<h5>Audio Devices</h5>
						{% if devices %}
							<p>A list of all the audio devices which are recorded in the database.</p> 
							{% include "audio_list_fragment.html" %}
						{% else %}
							<p>There are no audio devices recorded in the database.</p>
						{% endif %}
						{% if request.user %}
						<a href="{% url 'admin:laptops_audio_add' %}">Add new device</a>
						{% else %}
						<a href="">You must login to add new devices</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
	</div>

	{% load static %}
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/datatables.min.js' %}"></script>
	{% if aman|length > 10 %}
	<script>
		new DataTable('#datatable1');
	</script>
	{% endif %}
	{% if audio|length > 20 %}
	<script>
		new DataTable('#datatable2');
	</script>
	{% endif %}
	
{% endblock %}