{% extends "base.html" %}
{% block content1 %}

	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="{% url 'homepage' %}">Home</a></li>
					<li class="breadcrumb-item active"><a href="{% url 'sound_home' %}">Audio &amp; Sound</a></li>
					<li class="breadcrumb-item">Soundblaster Support</a></li>
					<li class="breadcrumb-item">{{device.name}}</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h5>Support for Sound Blaster mode: {{device.name}}</h5>
			{% if device.notes %}
				<p>{{device.notes|linebreaks}}</p>
				{% if request.user %}
					<a href="{% url 'admin:laptops_audiodigisb_change' device.pk %}">Edit notes</a>
				{% endif %}
			{% else %}
				<p>There are no notes stored for this device.</p>
				{% if request.user %}
					<a href="{% url 'admin:laptops_audiodigisb_change' device.pk %}">Add notes</a>
				{% endif %}
			{% endif %}
		</div>
		<hr>
		<br>
	</div>
	
	<div class="container">
		<div class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" data-bs-toggle="tab" href="#devices" aria-selected="true" role="tab">Audio Devices <span class="badge rounded-pill bg-light">{{devices|length}}</span></a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" data-bs-toggle="tab" href="#laptops" aria-selected="false" tabindex="-1" role="tab">Laptops <span class="badge rounded-pill bg-light">{{laptops|length}}</span></a>
				</li>
			</ul>
		</div>
	
		<div id="TabContent" class="tab-content">
		
			<div class="tab-pane fade show active" id="devices" role="tabpanel">
				<div class="row">
					<div>
						<br>
						<h5>Audio Devices supporting Sound Blaster mode: {{device.name}}</h5>
						{% if devices %}
							<p>These audio devices <i>only</i> support this specific Sound Blaster mode.</p>
							{% include "audio_list_fragment.html" %}
						{% else %}
						<p>There are no audio devices in the database which <i>only</i> support this specific Sound Blaster mode.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="laptops" role="tabpanel">
				<div class="row">
					<div>
						<br>
						<h5>Laptops supporting Sound Blaster mode: {{device.name}}</h5>
						{% if laptops %}
							<p>These laptops have audio devices which <i>only</i> support this specific Sound Blaster mode.</p>
							{% include "laptop_list_fragment_nested.html" %}
						{% else %}
						<p>There are no laptops in the database which <i>only</i> support this specific Sound Blaster mode.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/datatables.min.js' %}"></script>
	{% if devices|length > 20 %}
	<script>
		new DataTable('#datatable1');
	</script>
	{% endif %}
	
	
{% endblock %}