{% extends "base.html" %}
{% block content1 %}

	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="{% url 'homepage' %}">Home</a></li>
					<li class="breadcrumb-item">Graphics</li>
				</ol>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		
			<div class="col-3">
				<h5>Graphics API Support</h5>
				<table class="table table-bordered table-striped table-hover" id="datatable1">
					<thead>
						<tr>
							<th>Screen Type</th>
						</tr>
					</thead>
					<tbody>
					{% for s in screentypes %}
						<tr>
							<td><a href="">{{s.name}}</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% if request.user %}
				<a href="{% url 'admin:laptops_lcdtype_add' %}">Add new Screen technology</a>
				{% else %}
				<a href="">You must login to add new Screen technology types</a>
				{% endif %}
			</div>
			<div class="col">
			</div>
		</div>
		<br>
		<hr>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<h5>Screens</h5>
				{% if screens %}
					<p>A list of all the screens which are recorded as being used by laptops entered in the database. Select 
					one to see the full specifications and the laptops which use that part.</p>
					<table class="table table-bordered table-striped table-hover" id="datatable2">
						<thead>
							<tr>
								<th>Screen Type</th>
								<th>Screen Size</th>
								<th>Resolution</th>
							</tr>
						</thead>
						<tbody>
						{% for s in screens %}
							<tr>
								<td>{{s.screen_type.name}}</td>
								<td>{{s.screen_size}}"</td>
								<td>{{s.res_x}}x{{s.res_y}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no screens recorded in the database.</p>
				{% endif %}
				{% if request.user %}
				<a href="{% url 'admin:laptops_lcd_add' %}">Add new Screen model</a>
				{% else %}
				<a href="">You must login to add new Screen models</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	{% load static %}
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/datatables.min.js' %}"></script>
	{% if screentypes|length > 20 %}
	<script>
		new DataTable('#datatable1');
	</script>
	{% endif %}
	{% if screens|length > 20 %}
	<script>
		new DataTable('#datatable2');
	</script>
	{% endif %}
	
{% endblock %}